# Data
data/ham10000/
data/8_class_ham10000/

# Logs
logs/

# .env
.env

# Cache
.pytest_cache/

# Singularity Container
containers/container.sif

# Model weights
models/**

# PyCache
**/__pycache__/

# Wandb
wandb/