# Data
data/ham10000/
data/8_class_ham10000/
data/isic2018/

# GradCAM
gradcam/
grad_cam/

# LRP
lrp/

# Logs
logs/

# .env
.env

# Cache
.pytest_cache/

# Singularity Container
containers/enroot_container.sqfs
containers/singularity_container.sif

# Model weights
models/**

# PyCache
**/__pycache__/

# Wandb
wandb/